.App {
  text-align: center;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background-image: url('./6thjob.jpg'); /* Replace with the path to your image file */
  background-size: cover;
  background-position: center;
  font-family: 'Arial', sans-serif; /* Add your preferred font-family */
  color: white; /* Add your preferred text color */
}

.app-container {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
  padding: 20px;
}
