/* HexaCalculator.css */

.calculator-container {
    background-color: #3f3f3f;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .input-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 15px;
  }

  .header-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .Hexa-Icon {
    width: 40px;
    height: 40px;
    margin-right: 10px;
  }

  .result-container {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
  }
  
  .result-item {
    text-align: center;
  }
  
  .result-icon {
    width: 30px;
    height: 30px;
    margin-bottom: 10px;
  }
  