/* TableContainer.css */

.table-container {
    background-color: #dcdcdc; /* Grey background color */
    padding: 20px;
    margin: 20px;
  }
  
  .custom-table {
    width: 100%;
    border-collapse: collapse;
    background-color: rgb(43, 43, 43); /* Background color for the table */
  }
  
  .custom-table th, .custom-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  .custom-table th {
    background-color: #575454; /* Background color for header cells */
  }
  